.diversify-container {
  padding: 0 30px;

  .diversify-wrapper {

    .diversify-content {
        
      padding: 0 30px;
      padding-top: 30px;
      background-color: $purple;
      border-radius: 10px;
      display: flex;
      flex-direction: column;

      color: $white;

      p {
        color: $white;
      }

      &_copy {
          display: flex;
          flex-direction: column;
          gap: 1em;
          
          button {
            color: $purple;
            background-color: $white;
          }
      }

      &_img {
          margin-bottom: -2px;

          img {
            margin-top: 2em;
            width: 100%;
            
          }
      }
    }


  }
}
