// NAV + HEADER queries (Desktop)

@media screen and (min-width: 1280px) {
    .nav-container {

        .nav-wrapper {
            padding: 0 150px;
            .hamb-btn {
                display: none;
            }
            
            //nav desktop styles
            .navdesk {
                display: flex;
                width: 60%;

                ul {
                    display: flex;
                    align-items: center;
                    gap: 1.2em;
                    margin-right: auto;
                }
            }
        }    
    }

    .header-container {
        height: 100vh;

        .header-wrapper {
            height: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            

            .header-hero {
                max-width: 700px;
                margin: 0;
                margin-right: -40px;
            }

            .header-copy {
                width: 100%;

                &_rated {
                    display: flex;
                }

                &_btns {
                    flex-direction: row;
                    gap: 2em;
                }

                &_check-items {
                    flex-direction: row;
                    gap: 1em;
            }
        }
    }
}
}


// Why Fiber Section
@media screen and (min-width: 1280px) {
    .why-fiber-container {
        padding: 3.5em 150px;
        
        .why-wrapper {

            .why-items {
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1em;
                margin-top: 3em;
    
                &_item {
                    max-width: 320px;
    
                    img {
                        max-width: 35px;
                    }
                }
            }
        }
    }
}

// Diversify Card

@media screen and (min-width: 1280px) {
    .diversify-container {
        padding: 0 150px;
        .diversify-wrapper {
            .diversify-content {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 3em;
                
                &_copy {
                    max-width: 450px;
                    
                    button {
                        align-self: flex-start;
                    }
                }

                &_img {
                    max-width: 50%;
                }
            }
        }
    }
}

// Testmonials

@media screen and (min-width: 1280px) {
    .testmonials-container {
        padding: 0 150px;
        .testmonials-wrapper {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

// Footer

@media screen and (min-width: 700px) {
    footer {
        padding: 3.5em 150px;
        
        .footer-wrapper {
            flex-direction: row;
            justify-content: space-between;

            gap: 3.5em;

            .footer-copy { max-width: 350px;}
        }
    }
}