.testmonials-container {
    padding: 0 30px;
    margin: 3em 0;

    .testmonials-wrapper {
        display: grid;
        gap: 2em;

        .testmonial {
            padding: 25px;
            border: 1px solid $black;
            height: auto;
            width: 350px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 1em;

            &_client-info {
                display: flex;
                align-items: center;
                gap: 1em;

                .user-info {
                    display: flex;
                    flex-direction: column;
                    
                }
                .avatar_name { margin: 0; font-size: .8em; }
                .p_revenue { font-size: .8em; }
            }

            button { background: none; color: $purple; border: 1px solid $black; }
        }
    }
}